<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7" />

<link rel="apple-touch-icon" sizes="180x180" href="<%= data.config.publicPath %>/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="<%= data.config.publicPath %>/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= data.config.publicPath %>/img/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<meta name="language" content="en-EN" />
<meta name="author" content="Irfan Maulana" />
<title>Free Admin Dashboard Template Build with Bulma.io By Irfan Maulana</title>

<!-- Font Awesome -->
<!-- See docs on: https://fontawesome.com/v4.7.0/icons/ -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- Font Awesome -->

<link rel="stylesheet" href="<%= data.config.publicPath %>/css/main.css" />
<script async src="<%= data.config.publicPath %>/js/module-event.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-25065548-2"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', 'UA-25065548-2')
</script>
