<% let isActiveClass = function (menu) { return menu === activeMenu ? 'is-active' : '' } %>

<aside id="main-sidebar" class="aside">
  <nav class="menu active-menu--<%= activeMenu %>">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>
        <a class="<%= isActiveClass('home') %>" href="<%= data.config.publicPath %>/">
          <span class="icon is-small"><i class="fa fa-tachometer"></i></span> <span class="menu-text">Dashboard</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Administration</p>
    <ul class="menu-list">
      <li>
        <a class="<%= isActiveClass('forms') %>" href="<%= data.config.publicPath %>/forms/">
          <span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span> <span class="menu-text">Forms</span>
        </a>
      </li>
      <li>
        <a class="<%= isActiveClass('ui-elements') %>" href="<%= data.config.publicPath %>/ui-elements/">
          <span class="icon is-small"><i class="fa fa-desktop"></i></span> <span class="menu-text">UI Elements</span>
        </a>
      </li>
      <li>
        <a class="<%= isActiveClass('tables') %>" href="<%= data.config.publicPath %>/tables/">
          <span class="icon is-small"><i class="fa fa-table"></i></span> <span class="menu-text">Tables</span>
        </a>
      </li>
      <li>
        <a class="<%= isActiveClass('presentations') %>" href="<%= data.config.publicPath %>/presentations/">
          <span class="icon is-small"><i class="fa fa-bar-chart"></i></span>
          <span class="menu-text">Presentations</span>
        </a>
      </li>

      <li class="has-children">
        <a class=""
          ><span class="icon is-small"><i class="fa fa-cog"></i></span> <span class="menu-text">Layouts</span></a
        >
        <ul>
          <li><a>Members</a></li>
          <li><a>Plugins</a></li>
          <li><a>Add a member</a></li>
        </ul>
      </li>
    </ul>

    <p class="menu-label">Live On</p>
    <ul class="menu-list">
      <li>
        <a class="<%= isActiveClass('additional') %>" href="<%= data.config.publicPath %>/additional/">
          <span class="icon is-small"><i class="fa fa-bug"></i></span> <span class="menu-text">Additional Pages</span>
        </a>
      </li>
      <li>
        <a class="<%= isActiveClass('extras') %>" href="<%= data.config.publicPath %>/extras/">
          <span class="icon is-small"><i class="fa fa-windows"></i></span> <span class="menu-text">Extras</span>
        </a>
      </li>
    </ul>

    <div class="ads-square">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-format="fluid"
        data-ad-layout-key="-gw-3+1f-3d+2z"
        data-ad-client="ca-pub-5442972248172818"
        data-ad-slot="9533807764"
      ></ins>
      <script>
        ;(adsbygoogle = window.adsbygoogle || []).push({})
      </script>
    </div>
  </nav>

  <div id="sidebar-toggler">
    <span class="icon is-small"><i class="fa fa-angle-double-left"></i></span>
  </div>
</aside>
